.applicant-table tbody > tr,
.contact-table tbody > tr,
.order-table tbody > tr,
.dealer-table tbody > tr,
.product-table tbody > tr {
    cursor: pointer;
}

.applicant-table tbody > tr:hover,
.dealer-table tbody > tr:hover,
.order-table tbody > tr:hover,
.contact-table tbody > tr:hover,
.product-table tbody > tr:hover {
    background-color: rgba(5, 92, 117, 0.5);
    color: white;
}

a.form-control {
    background-color: #eee;
}

#dealer-picker .form-group label {
    margin-right: 15px;
}

#product-list img,
.product-table img {
    width: 25px !important;
    height: 25px;
    left: 0 !important;
}

#product-list td:nth-of-type(2),
#product-list td:nth-of-type(3) {
    width: 10%;
    max-width: 80px;
}
#product-list td:nth-of-type(4) {
    width: 8%;
    max-width: 64px;
}
#product-list td:nth-of-type(5) {
    width: 14%;
    max-width: 112px;
}

#product-list td:nth-of-type(6) {
    width: 17%;
    max-width: 136px;
}
#product-list td:last-of-type {
    width: 15%;
    max-width: 120px;
}

/* Product management */
.tab-center {
    text-align: center;
}

.tab-center .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.tab-center .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
}

.tab-center a.list-group-item {
    display: inline-block;
    width: 135px;
    margin-right: -5px;
}

#product-image {
    left: 0;
}

i {
    margin-top: -15px;
    color: green;
}