body {
    min-height: 100%;
    padding-top: 70px;
}

.container-fluid {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #055C75;
}

.navbar-header {
    margin-right: 20px !important;
}

.navbar-default .navbar-nav > .active > a {

}

.navbar-brand {
    overflow: hidden;
    width: 110px;
    margin-top: -4px !important;
}

.navbar-brand > img {
    height: 110px;
    left: -137px;
    position: relative;
}

.category {
    min-height: 700px;
    max-height: 700px;
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.category h1 {
    background-color: white;
    padding: 20px;
    margin-top: 0;
}

.product-card {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    width: 150px;
    height: 280px;
    margin: 10px auto;
    border-radius: 8px;
    color: black;
}

.product-card img {
    width: 90px;
    margin: 0 0 15px 10px;
}

.product-card p {
    margin: 0 10px;
}

.category .row .col-xs-6 {
    margin: 0;
    padding: 0;
}

.category .row .col-xs-6:nth-of-type(even) {
    margin-left: -5px;
}

.promotion {
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 200;
}

.promotion .content {
    font-size: 16px;
    margin: -15px 10px 10px 10px;
    color: white;
}

.promotion .content a {
    color: white;
    text-decoration: none;
}
.promotion .content h3 {
    color: lightgreen;
    font-size: 18px;
}
.promotion button {
    color: rgb(255, 0, 0);
    position: relative;
    right: 5px;
    top: 0px;
    font-size: xx-large;
}
.hidden {
    opacity: 0;
}

@media(min-device-width: 1000px) {
    /* Desktops */
    .promotion {
        top: 70px;
        border-radius: 8px;
        max-width: 200px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .promotion .content {
        font-size: 12px;
    }

    .promotion button {
        color: darkred;
    }
}

/* About Styles */
body {
    background-color: white;
}
.about {
    background: transparent;
}
.about img {
    width: 2500px;
    position: relative;
    left: -925px;
}

.about .img-holder {
    position: fixed;
    z-index: -5;
    min-width: 290px;
    max-width: 290px;
    max-height: 290px;
    min-height: 290px;
    overflow: hidden;
    top: 200px;
    opacity: 0.1;
}

.about h1 {
    border-bottom: 1px solid black;
    box-shadow: 0 7px 7px -7px #de1dde;
}

/* Contact Us */
.form-group label {
    transition: top 0.5s, opacity 0.15s;
    top: 0;
    opacity: 1;
    position: relative;
    z-index: -1;
}
.label-hidden {
    opacity: 0 !important;
    top: 34px !important;
}

.about form .form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: 0 2px 2px -2px #de1dde;
    z-index: 5;
    background: transparent;
}

.about form label {
    left: 13px;
}
.about form textarea {
    height: 200px;
}

.about form {
    margin-bottom: 15px;
}

/* Footer layout */
.footer {
    height: 50px;
    background-color:#055C75;
    font-size: 12px;
    color: white;
}

.mobile a{
    font-size: 15px;
}

.desktop {
    display: none;
}

ul.links {
    list-style: none;
}

ul.links > li {
    margin-left: -35px;
}

.footer h4 span {
    border-bottom: 1px solid;
}
@media(min-device-width: 1000px) {
    .constrain {
        max-width: 1000px;
    }
    .mobile {
        display: none;
    }
    .footer {
        height: auto;
        margin-top: 83px;
    }

    .desktop {
        display: block;
    }
}