.tab-center {
    text-align: center;
}

.tab-center .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.tab-center .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
}

.tab-center a.list-group-item {
    display: inline-block;
    width: 135px;
    margin-right: -5px;
}

/* Product card */
.product-card {
    border: 1px solid #eee;
    box-shadow: 0 1px 6px -3px #de1dde;
    cursor: pointer;
}

.product-card h4 {
    border-bottom: 1px solid black;
    box-shadow: 0 7px 7px -7px #de1dde;
    text-align: center;
}

.product-card img {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    left: -50px;
}